# Sample configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Here's a PI-JAMMA by @Edu_Arana configuration:
# Using IPAC2 setup

# Right MCP23017 port 0x21
# A0-A7

IRQ 22 0x21
IRQ 27 0x20

UP		48      # P1 UP
DOWN		49      # P1 DOWN
LEFT		50      # P1 LEFT
RIGHT		51      # P1 RIGHT
LEFTCTRL	52      # P1 BTN 1
LEFTALT		53      # P1 BTN 2
SPACE		54      # P1 BTN 3
LEFTSHIFT	55      # P1 BTN 4

#B0-B7
R		56	# P2 UP
F		57      # P2 DOWN
D		58      # P2 LEFT
G		59      # P2 RIGHT
A		60      # P2 BTN 1
S		61      # P2 BTN 2
Q		62      # P2 BTN 3
W		63      # P2 BTN 4

# Left MCP23017 0x20
# A0-A7

Z		32	# P1 BTN 5
1		33      # P1 START
5		34      # P1 CREDIT
#		35 
#		36
TAB		37      # TAB
ESC		58      # ESC
X		39      # P1 BTN 5

# B0-B7

I		40	# P2 BTN 5
2		41	# P2 START
6		42	# P2 CREDIT
#		43
F2		44	# SERVICE
#		45
#		46
K		47	# P2 BTN 6

# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.

